
        h2 {
          color: black;
          text-align: center;
        }

        h4 {
          color: black;
          position: absolute;
          top: 570px;
          left: 10%;
          text-align: center;
          font-weight:normal;
        }
        
        .axis {
          font-family: arial;
          font-size: 0.6em;
        }

        path {
          fill: none;
          stroke: black;
          stroke-width: 2px;
        }

        .tick {
          fill: none;
          stroke: black;
        }

        circle {
          opacity: 0.4;
          stroke: none;
          cursor: pointer;
        }
        
        .years_dropdown {
          position: absolute;
          top: 260px;
          left: 100px;
        }
        
        .content_dropdown {
          position: absolute;
          top: 300px;
          left: 100px;
        }

        .map {
          position: absolute;
          top: 80px;
          left: 80px;
          border:1px solid black
        }
        
        .lineplot {
          position: absolute;
          top: 80px;
          left: 650px;
          border:1px solid black;
        }
        
        .table {
          position: absolute;
          top: 350px;
          left: 400px;
          width: 220px;                  
          height: 180px;
          border:1px solid black;
        }
        
        div.tooltip {   
          position: absolute;           
          text-align: center;           
          width: 150px;                  
          height: 42px;                 
          padding: 2px;             
          font: 12px sans-serif;        
          background: lightsteelblue;   
          border: 0px;      
          border-radius: 8px;           
          pointer-events: none;       
        }

        .q4-5 { fill:#6BC214; }
        .q3-5 { fill:#8DCE41; }
        .q2-5 { fill:#AFDB6E; }
        .q1-5 { fill:#D1E79B; }
        .q0-5 { fill:#F3F4C8; }

